{% extends 'layout.html' %}
{% block body_content %}

<form method='POST' action='{{ url_for('home') }}'>
	{{ form.order.label }} {{ form.order }}
	<br>
	{{ form.submit }}
</form>

{% if totals['total'] == 0 %}
<h3>Add some Tasks</h3>
{% elif totals['number_completed'] == totals['total'] %}
<h3>Good Job!</h3>
{% elif totals['number_completed'] < totals['total'] - 3 %}
<h3>You're falling behind :(</h3>
{% endif %}

{% for task in task_list %}

{{ task.id }} <br>
{{ task.task }} <br>
{% if task.is_complete == True %}
&#9989
{% else %}
Incomplete
{% endif %}

<br>

{% if task.is_complete %}
<form action='{{ url_for('incomplete', task_id=task.id) }}'>
	<button>Incomplete</button>
</form>
{% else %}
<form action='{{ url_for('complete', task_id=task.id) }}'>
	<button>Complete</button>
</form>
{% endif %}

<form action='{{ url_for('update', task_id=task.id) }}'>
	<button>Update</button>
</form>
<form action='{{ url_for('delete', task_id=task.id) }}'>
	<button>Delete</button>
</form>
<br>
{% endfor %}

{% endblock body_content %}
